{% extends 'layouts/index.html' %}

{% block title %}Register{% endblock title%}

{% block content %}
    <div class="container"> 
        <h2>Register</h2>  
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>
        {% if error %}  
            <p class="error">{{ error }}</p>  
        {% endif %}
    </div>
    <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>  
{% endblock content %}
</div>