<app-navbar></app-navbar>

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/assets/img/hero.jpg"></div>

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50">
            <div class="col-lg-12 col-12 mb-5 text-center">
                <h2 class="tm-text-primary col-12">Login</h2>
                <div class="col-lg-12 col-12 mb-5">
                    <p>
                        If you have not created an account yet, then please <a [routerLink]="['/register']" routerLinkActive="router-link-active">sign up</a>  first.
                    </p>
                </div>
                <div *ngIf="errorMessages.length > 0" class="alert alert-danger">
                    <ul>
                        <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
                    </ul>
                </div>
                <form id="contact-form" (ngSubmit)="onSubmit()" class="tm-contact-form mx-auto">
                    <div class="form-group">
                        <input [(ngModel)]="username" name="username" class="form-control rounded-0" placeholder="Username" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="password" type="password" name="password" class="form-control rounded-0" placeholder="Password" required />
                    </div>
                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                    
                </form>                
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

<app-footer></app-footer>