<app-navbar></app-navbar>

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/assets/img/hero.jpg"></div>

<div class="container-fluid tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
           My Profile
        </h2>
    </div>
    <div class="row tm-mb-74 tm-row-1640">            
        <div class="col-lg-5 col-md-6 col-12 mb-3">
            <div *ngIf="profile?.image">
                <img [src]="'http://127.0.0.1:8000/' + profile?.image" class="img-fluid">
            </div>

            <div *ngIf="!profile?.image">
                <img [src]="'http://127.0.0.1:8000//media/uploads/profile_picture/eyeglass.jpg' + profile?.image" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-12" *ngIf="user">
            <div class="tm-about-img-text">
                <div *ngIf="errorMessages.length > 0" class="mb-4 alert alert-danger">
                    <ul>
                        <li *ngFor="let errorMessage of errorMessages">{{ errorMessage }}</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <strong>First Name:</strong>
                    <span *ngIf="!isEditing">{{ user.first_name }}</span>
                    <input *ngIf="isEditing" [(ngModel)]="user.first_name" class="form-control"/>
                </div>
              <div class="mb-4">
                <strong>Last Name:</strong>
                <span *ngIf="!isEditing">{{ user.last_name }}</span>
                <input *ngIf="isEditing" [(ngModel)]="user.last_name" class="form-control"/>
              </div>
              <div class="mb-4">
                <strong>Username:</strong>
                <span *ngIf="!isEditing">{{ user.username }}</span>
                <input *ngIf="isEditing" [(ngModel)]="user.username" class="form-control"/>
              </div>
              <div class="mb-4">
                <strong>Email:</strong>
                <span *ngIf="!isEditing">{{ user.email }}</span>
                <input *ngIf="isEditing" [(ngModel)]="user.email" class="form-control"/>
              </div>
              <div class="mb-4">
                <strong>Bio:</strong>
                <span *ngIf="!isEditing">{{ profile?.bio }}</span>
                <textarea *ngIf="isEditing && profile" [(ngModel)]="profile.bio" class="form-control"></textarea>
              </div>
              <div class="mb-4" *ngIf="isEditing && profile">
                <strong>Change Profile Pic:</strong>
                <input type="file" name="image" (change)="onFileSelected($event)" class="form-control" accept=".png, .jpg, .jpeg"/>
              </div>
              <div class="form-group">
              
            </div>
              <button class="btn btn-primary mt-4" (click)="toggleEditMode()">
                {{ isEditing ? 'Save' : 'Edit Profile' }}
              </button>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            My Videos
        </h2>
    </div>
    <div class="row mb-3 tm-gallery">
        <div *ngFor="let video of videos" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img [src]="'http://127.0.0.1:8000/' + video.thumbnail" alt="{{ video.title }}" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ video.title }}</h2>
                    <p>{{ video.description }}</p>
                    <a [routerLink]="['/video-detail', video.id]">View More</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{ video.date_posted | date: 'MMM d, y, h:mm a' }}</span>
                <span>12,460 views</span>
            </div>
        </div>       
    </div> <!-- row -->
</div>

<app-footer></app-footer>