<app-navbar></app-navbar>
    
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/assets/img/hero.jpg"></div>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div *ngIf="video">
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary">{{ video.title }}</h2>
            </div>
            <div class="row tm-mb-90">  
                <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                    <video autoplay muted loop controls id="tm-video-append">
                        <source [src]="'http://127.0.0.1:8000/' + video.video_file" type="video/mp4">
                    </video>  
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                    <div class="tm-bg-gray tm-video-details">
                         <!-- Description -->
                        <div class="mb-4" *ngIf="isEditing">
                            <strong>Title:</strong>
                            <input type = "text" [(ngModel)]="video.title" name = "title" class="form-control">
                        </div>

                        <!-- Description -->
                        <div class="mb-4">
                            <strong>Description:</strong>
                            <p *ngIf="!isEditing">{{ video.description }}</p>
                            <textarea *ngIf="isEditing" [(ngModel)]="video.description" name = "description" class="form-control" rows="3"></textarea>
                        </div>
                
                        <!-- Edit Video Button -->
                        <div class="mb-4 text-center">
                            <button *ngIf="!isEditing" (click)="toggleEditMode()" class="btn btn-secondary">Edit Video</button>
                            <button *ngIf="!isEditing" (click)="deleteVideo(video.id, video)" class="btn btn-danger">Delete Video</button>
                            <button *ngIf="isEditing" (click)="updateVideo(video.id, video)" class="btn btn-primary">Save</button>
                        </div>
                
                       <!-- Comment Section -->
                        <div class="mb-4">
                            <h3 class="tm-text-gray-dark mb-3">Comments</h3>
                            <div  class="mb-4">
                            <div *ngFor="let comment of comment_list" class="mb-4">
                                <strong>{{ comment.username }} </strong>
                                <p>{{ comment.comment }}</p>
                                <hr>
                            </div>

                            <div *ngIf="isLoggedIn(); else loginPrompt">
                                <textarea [(ngModel)]="newComment" class="form-control mb-2" placeholder="Add your comment" rows="3"></textarea>
                                <button (click)="postComment(video.id)" class="btn btn-primary mb-4">Post Comment</button>
                            </div>

                            <ng-template #loginPrompt>
                                <p class="tm-text-gray-dark">Please <a [routerLink]="['/login']">sign in</a> to comment.</p>
                            </ng-template>
                        </div>

                </div>
                
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Related Videos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            <div *ngFor="let video of video_list" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img [src]="'http://127.0.0.1:8000/' + video.thumbnail" alt="{{ video.title }}" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ video.title }}</h2>
                        <p>{{ video.description }}</p>
                        <a (click)="navigateToDetail(video.id)">View More</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ video.date_posted | date: 'MMM d, y, h:mm a' }}</span>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->
<app-footer></app-footer>
